<template name="ApplicationLayout">
    <head>
      <title>chatroom</title>
    </head>

    <body>
      <h1>Component stuff</h1>
        {{> loginButtons}}
        {{> yield}}
        <hr/>
    </body>
</template>
    
<template name="welcome">
    {{#if currentUser}}
  <h2>welcome!</h2>
    {{else}}
    <h2>please log in</h2>
    {{/if}}
    <form class="name-form">
        <input type="text" name="firstname">
        <input type="submit">
    </form>
    <ul>
        {{#each posts}}
        <li>{{name}}</li>
        {{/each}}
    </ul>
</template>

<template name="post">
    <h2 class="post-class">{{name}}</h2>
</template>

